.about-gym {
  padding: 116px 0 120px;

  @include vp-1365 {
    padding: 100px 0 100px;
  }

  @include vp-767 {
    padding: 71px 0 0;
  }
}

.about-gym__wrapper {
  display: flex;
  gap: 82px;

  @include vp-1365 {
    flex-direction: column;
    align-items: center;
    gap: 35px;
  }

  @include vp-767 {
    gap: 25px;
  }
}

.about-gym__info {
  margin: 0;
  padding: 0;

  @include vp-1365 {
    padding: 0 88px;
  }

  @include vp-767 {
    padding: 0;
  }
}

.about-gym__info h2 {
  margin: 0 0 29px;
  color: $color-basic;

  font-family: $ff-alumni;
  font-size: 54px;
  font-style: normal;
  font-weight: 600;
  line-height: 54px; /* 100% */
  letter-spacing: 1.62px;

  @include vp-1365 {
    margin: 0 0 20px;
    padding: 0;
    text-align: center;

    font-size: 42px;
    font-style: normal;
    font-weight: 600;
    line-height: 42px; /* 100% */
    letter-spacing: 1.26px;
  }

  @include vp-767 {
    margin: 0 0 12px;
    padding: 0;
    text-align: start;

    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px; /* 100% */
    letter-spacing: 0.96px;
  }
}

.about-gym__info span {
  margin: 0 0 94px;
  color: $color-basic;
  display: block;

  font-family: $ff-roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 100% */

  @include vp-1365 {
    margin: 0 0 33px;
    text-align: center;

    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 100% */
  }

  @include vp-767 {
    margin: 0 0 38px;
    text-align: start;

    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 111.111% */
  }
}

.about-gym__info p {
  margin: 0 0 8px;
  color: $color-basic;

  font-family: $ff-roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px; /* 150% */
  letter-spacing: -0.01em;

  @include vp-1365 {
    margin: 0 0 4px;
    text-align: center;
    letter-spacing: 0;
  }

  @include vp-767 {
    margin: 0 0 27px;
    padding: 0;
    text-align: start;

    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px; /* 157.143% */
  }

  &:not(:first-of-type) {
    @include vp-1365 {
      display: none;
    }
  }
}

.about-gym__media-wrapper {
  flex-shrink: 0;
  position: relative;
  padding: 5px 0 115px 63px;

  @include vp-1365 {
    padding: 0 0 83px 0;
  }

  @include vp-767 {
    width: calc(100% + 30px);
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 0 0 70px 0;
  }
}

.about-gym__media-wrapper img {
  @include vp-767 {
    width: 100%;
  }
}

.about-gym__video-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;

  @include vp-1365 {
    left: 50%;
    transform: translateX(-50%);
  }

  @include vp-767 {
    position: relative;
    transform: none;
    left: auto;
  }
}

.about-gym__video-wrapper video {
  height: 228px;
  object-fit: cover;

  position: relative;


  @include vp-1365 {
    width: 266px;
    height: 167px;
  }

  @include vp-767 {
    width: 100%;
  }
}

.about-gym__video-wrapper button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;

  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: none;
  background: none url("../img/svg/video-play.svg") no-repeat;
  transition: $trans-default;

  @include hover-focus {
    background: none url("../img/svg/video-play-hover-focus.svg") no-repeat;
  }

  @include active {
    background: none url("../img/svg/video-play-active.svg") no-repeat;
  }

  &:disabled {
    background: none url("../img/svg/video-play-disabled.svg") no-repeat;
    pointer-events: none;
  }

  @include vp-1365 {
    width: 72px;
    height: 72px;
    background: none url("../img/svg/video-play-tablet.svg") no-repeat;

    @include hover-focus {
      background: none url("../img/svg/video-play-hover-focus-tablet.svg") no-repeat;
    }

    @include active {
      background: none url("../img/svg/video-play-active-tablet.svg") no-repeat;
    }

    &:disabled {
      background: none url("../img/svg/video-play-disabled-tablet.svg") no-repeat;
      pointer-events: none;
    }
  }
}
