.contact-form {
  display: flex;

  @include vp-1365 {
    flex-direction: column;
  }
}

.contact-form__free-visit,
.contact-form__contacts {
  width: 50%;

  @include vp-1365 {
    width: 100%;
  }
}
