.contacts {
  padding: 60px 163px 48px 120px;
  color: $color-basic;

  @include vp-1365 {
    padding: 101px 215px 95px 132px;
  }

  @include vp-767 {
    padding: 67px 15px 64px;
  }
}

.contacts h2 {
  margin: 0 0 40px;
  padding: 0;
  color: $color-basic;

  font-family: $ff-alumni;
  font-size: 54px;
  font-style: normal;
  font-weight: 600;
  line-height: 54px; /* 100% */
  letter-spacing: 1.62px;

  @include vp-1365 {
    margin: 0 0 35px;

    font-family: $ff-alumni;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.26px;
  }

  @include vp-767 {
    margin: 0 0 37px;

    font-family: $ff-alumni;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px; /* 100% */
    letter-spacing: 0.96px;
  }
}

.contacts h3 {
  margin: 0 0 6px;
  padding: 0;
  color: $color-basic;

  font-family: $ff-roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 100% */


  @include vp-1365 {
    margin: 0 0 11px;

    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 100% */
  }

  @include vp-767 {
    margin: 0 0 12px;

    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 100% */
  }
}

.contacts p {
  margin: 0;
  padding: 0;
  color: $color-basic;

  font-family: $ff-roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */

  @include vp-767 {
    line-height: 20px; /* 142.857% */
  }
}

.contacts a {
  margin: 0;
  padding: 0;
  color: $color-basic;

  font-family: $ff-roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
  text-decoration: none;

  @include vp-767 {
    line-height: 20px; /* 142.857% */
  }

  &:hover,
  &:focus {
    color: $color-additional-blue;
  }

  &:active {
    color: $bg-additional-black;
  }
}

.contacts__wrapper {
  margin: 0 auto 0 0;
  max-width: 476px;

  @include vp-1365 {
    margin: 0;
    max-width: none;
  }
}

.contacts__content-wrapper {
  display: flex;
  justify-content: space-between;

  @include vp-767 {
    flex-direction: column;
    row-gap: 28px;
  }

  @include vp-767 {
    row-gap: 26px;
  }
}

.contacts__info-wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;

  @include vp-1365 {
    gap: 27px;
  }

  @include vp-767 {
    gap: 28px;
  }
}

.contacts__decoration {
  flex-grow: 1;
  position: relative;

  @include vp-767 {
    display: none;
  }

  &::after {
    position: absolute;
    content: "";
    width: 1px;
    height: 95%;
    background-color: $color-border-decoration;
    top: 0;
    left: 43%;
    transform: translateX(-50%);

    @include vp-1365 {
      left: 58%;
    }
  }
}
