.games__wrapper {
  padding: 121px 0 50px;

  display: flex;
  justify-content: center;

  @include vp-1365 {
    padding: 102px 0 53px;
  }

  @include vp-767 {
    padding: 70px 0 33px;

    flex-wrap: wrap;
    align-items: center;
  }
}

.games__inner-wrapper {
  padding: 80px 80px 79px 80px;
  width: 500px;
  background-color: $bg-red;
  color: $color-white;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;

  @include vp-1365 {
    padding: 35px 45px 40px;
    width: 292px;
  }

  @include vp-767 {
    padding: 40px 40px 41px;
    width: 290px;
  }
}

.games__inner-wrapper p {
  margin: 22px 0;
  padding: 0;
  max-width: 280px;

  font-family: $ff-roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px; /* 133.333% */

  @include vp-1365 {
    margin: 0;
  }

  @include vp-767 {
    margin: 9px 0;

    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px; /* 125% */
  }
}

.games__inner-wrapper a {
  margin: 33px 0 0;
  padding: 26px 20px;
  width: 100%;
  max-width: 340px;
  color: $color-white;
  border: 2px solid $color-white;
  transition: $trans-default;

  font-family: $ff-roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 12px; /* 100% */
  letter-spacing: 0.6px;
  text-transform: uppercase;
  text-align: center;

  @include vp-1365 {
    max-width: 202px;
    margin: 22px 0 0;
    padding: 21px 0 20px;

    font-weight: 400;
  }

  @include vp-767 {
    margin: 10px 0 0;
    padding: 21px 0 21px;
    max-width: 210px;

    font-weight: 700;
  }

  &:hover,
  &:focus {
    background-color: $color-white;
    color: $color-additional-blue;
    outline: none;
  }

  &:active {
    color: $color-basic;
  }

  &:disabled,
  &--disabled {
    color: $color-white-opacity-50;
    border: 2px solid $color-white-opacity-50;
    pointer-events: none;
  }
}

.games__info {
  display: flex;
  max-width: 343px;
  gap: 59px;
  margin: 0;

  @include vp-1365 {
    margin: 0;
    gap: 34px;
  }

  @include vp-767 {
    gap: 42px;
  }
}

.games__info b {
  margin: -17px 0 0 -11px;
  color: $color-white;

  font-family: $ff-alumni;
  font-size: 82px;
  font-style: normal;
  font-weight: 600;
  line-height: 76px; /* 92.683% */
  letter-spacing: 2.46px;
  text-transform: uppercase;

  text-align: center;
  align-self: center;
  width: 201px;

  @include vp-1365 {
    width: 119px;
    margin: -21px 0 0 -7px;

    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 46px; /* 95.833% */
    letter-spacing: 1.44px;
  }

  @include vp-767 {
    margin: -11px 0 0 -7px;
  }
}

.games__details-wrapper {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  gap: 20px;
  max-width: 92px;

  @include vp-1365 {
    gap: 4px;
  }
}

.games__detail p {
  color: $color-white;
  font-family: $ff-roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px; /* 133.333% */

  margin: 0 0 11px;

  @include vp-1365 {
    margin: 0 0 3px;
  }

  @include vp-767 {
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px; /* 125% */
  }
}

.games__time {
  position: relative;

  display: inline-flex;
  gap: 6px;
  align-items: center;

  @include vp-1365 {
    gap: 3px;
  }

  &::after {
    content: "";
    position: absolute;
    top: -4px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $color-white;
  }
}

.games__time span {
  color: $color-white;
  font-family: $ff-roboto;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 100% */

  @include vp-1365 {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 100% */
  }
}

.games__time p {
  color: $color-white;
  font-family: $ff-roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px; /* 100% */

  margin: 0;
  display: inline-block;
  text-align: left;
  width: 37px;


  @include vp-1365 {
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 10px */

    width: 26px;
  }
}

.games__wrapper img {
  max-width: 660px;
  max-height: 500px;

  @include vp-1365 {
    max-width: 386px;
    max-height: 324px;
  }

  @media (min-width: 610px) and (max-width: 767px) {
    height: 307px;
  }

  @media (min-width: 320px) and (max-width: 609px) {
    max-width: 290px;
    max-height: 292px;
  }
}
