.hero {
  background: $hero-gradient-desktop;

  @include vp-1365 {
    background: $hero-gradient-tablet;
  }
}

.hero__wrapper {
  margin: 0 auto;
  padding: 87px 205px 118px 0;
  display: grid;
  grid-template-columns: 1fr 500px;
  gap: 50px 70px;
  color: $color-white;

  @include vp-1365 {
    padding: 84px 0 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px 30px;
  }

  @include vp-767 {
    padding: 61px 0 70px;
    display: flex;
    flex-direction: column;
    gap: 0;
  }
}

.hero__info {
  margin: 0 0 0 auto;
  padding: 57px 0 0;
  display: grid;
  grid-template-columns: 113px 270px;
  text-align: right;

  @include vp-1365 {
    padding: 20px 0 0;
    grid-template-columns: 129px 187px;
    column-gap: 8px;
  }

  @include vp-767 {
    margin: 0 auto;
    padding: 0 0 38px;
    grid-template-columns: 113px 177px;
    column-gap: 0;
  }
}

.hero__info p {
  margin: 0;
  padding: 15px 0 0;
  text-transform: uppercase;
  grid-column: 2/3;

  font-family: $ff-alumni;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 3.62px;

  @include vp-1365 {
    padding: 13px 0 0;
    font-size: 42px;
    font-style: normal;
    font-weight: 600;
    line-height: 42px; /* 100% */
    letter-spacing: 1.26px;
  }

  @include vp-767 {
    padding: 24px 0 8px 0;
    font-size: 28px;
    letter-spacing: 2.96px;
  }
}

.hero__info h2 {
  margin: -37px 0 0 0;
  padding: 0;
  align-self: flex-end;
  grid-column: 2/3;

  font-family: $ff-alumni;
  font-size: 92px;
  font-style: normal;
  font-weight: 800;
  line-height: 110px; /* 119.565% */
  letter-spacing: 4.6px;
  text-transform: uppercase;

  @include vp-1365 {
    margin-bottom: -15px;

    font-size: 72px;
    font-style: normal;
    font-weight: 800;
    line-height: 85px; /* 118.056% */
    letter-spacing: 0;
  }

  @include vp-767 {
    margin: 0;
    padding: 0 0 22px 0;

    font-size: 62px;
    font-style: normal;
    font-weight: 800;
    line-height: 70px; /* 112.903% */
    letter-spacing: 1.86px;
  }
}

.hero__list {
  margin: 0;
  padding: 45px 0 0;
  grid-column: 1/2;
  grid-row: 2/3;
  list-style-type: none;
  align-self: center;
  text-align: right;

  font-family: $ff-roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;

  @include vp-1365 {
    padding: 65px 17px 0 0;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 157.143% */
  }

  @include vp-767 {
    padding: 53px 0 0;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
  }
}

.hero__btn {
  padding: 26px 55px;
  justify-self: flex-end;
  align-self: flex-start;
  color: $color-white;
  background-color: transparent;
  border: 2px solid $color-white;
  transition: $trans-default;
  grid-column: 1/2;

  font-family: $ff-roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 12px; /* 100% */
  letter-spacing: 0.6px;
  text-transform: uppercase;

  &:hover,
  &:focus {
    color: $color-additional-blue;
    background-color: $color-white;
    outline: none;
  }

  &:active {
    color: $color-basic;
  }

  &:disabled,
  &--disabled {
    color: $color-white-opacity-50;
    border: 2px solid $color-white-opacity-50;
    pointer-events: none;
  }

  @include vp-1365 {
    margin: 15px 0 0;
    padding: 21px 32px;
    width: auto;
    font-weight: 400;
  }

  @include vp-767 {
    margin: 0;
    padding: 20px 20px;
    width: 100%;
    text-align: center;
    font-weight: 700;
  }
}

.hero picture {
  grid-row: 1/3;
  grid-column: 2/3;
}

.hero img {
  object-fit: cover;

  @include vp-767 {
    display: none;
  }
}
