.promo {
  padding: 120px 0 120px;

  @include vp-1365 {
    padding: 101px 0 100px;
  }

  @include vp-767 {
    padding: 71px 0 70px;
  }
}

.promo__wrapper h2 {
  margin: 0 0 71px 0;
  padding: 0;

  color: $color-basic;
  font-family: $ff-alumni;
  font-size: 54px;
  font-style: normal;
  font-weight: 600;
  line-height: 54px; /* 100% */
  letter-spacing: 1.62px;
  text-align: center;

  @include vp-1365 {
    margin: 0 0 38px 0;

    font-size: 42px;
    font-style: normal;
    font-weight: 600;
    line-height: 42px; /* 100% */
    letter-spacing: 1.26px;
  }

  @include vp-767 {
    margin: 0 0 41px 0;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px; /* 100% */
    letter-spacing: 0.96px;
  }
}

.promo__inner-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;

  @include vp-1365 {
    gap: 30px;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}

.promo__special-block {
  grid-row: 1 / 3;
  display: flex;

  @include vp-1365 {
    grid-row: auto;
    grid-column: 1 / 3;
  }

  @include vp-767 {
    flex-direction: column;
    margin: 0 0 10px;
  }
}

.promo__special-block-info-wrapper {
  background-color: $bg-red;
  color: $color-white;
  padding: 40px 45px;

  display: flex;
  flex-direction: column;
  flex: 1;

  @include vp-1365 {
    padding: 45px 45px 40px;
  }

  @include vp-767 {
    padding: 46px 45px 40px;
    align-items: center;
    min-height: 300px;
  }
}

.promo__special-block-info-wrapper span {
  margin: 0 0 14px;
  padding: 0;

  color: $color-white;
  font-family: $ff-roboto;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; /* 100% */

  @include vp-1365 {
    margin: 0 0 5px;

    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 100% */
  }

  @include vp-767 {
    margin: 0 0 8px;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px; /* 100% */
  }
}

.promo__special-block-info-wrapper b {
  margin: 0 0 27px;
  padding: 0;

  color: $color-white;
  font-family: $ff-roboto;
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px; /* 100% */

  @include vp-1365 {
    margin: 0 0 21px;
  }

  @include vp-767 {
    margin: 0 0 20px;

    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px; /* 100% */
  }
}

.promo__special-block-info-wrapper p {
  margin: 0;
  padding: 0;

  color: $color-white;
  font-family: $ff-roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px; /* 133.333% */

  @include vp-767 {
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px; /* 125% */
    text-align: center;
  }
}

.promo__special-block-info-wrapper a {
  position: relative;
  margin: auto 0 0 0;
  padding: 0 0 10px 0;
  align-self: flex-start;
  transition: $trans-default;

  color: $color-white;
  font-family: $ff-roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 14px; /* 100% */
  letter-spacing: 0.7px;
  text-transform: uppercase;

  @include vp-1365 {
    padding: 0 0 9px 0;
  }

  @include vp-767 {
    align-self: center;
  }

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 5px;
    left: 0;
    background-color: $color-white;
  }

  &:hover {
    color: $color-white-opacity-80;

    &::after {
      opacity: 0.8;
    }
  }

  &:focus {
    outline: 1px solid $color-white;
    outline-offset: 10px;

    &::after {
      content: none;
    }
  }

  &:active {
    color: $color-white;

    &::after {
      content: "";
    }
  }

  &:disabled,
  &--disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

.promo__special-block img {
  flex: 1;

  @include vp-1365 {
    width: 399px;
  }

  @include vp-767 {
    width: 100%;
  }
}

.promo__block {
  display: flex;
  flex-direction: column;
  color: $btn-border;
  border: 7px solid;
  border-image-source: $promo-gradient;
  border-image-slice: 1;
  padding: 24px 28px 24px;
  gap: 9px;

  @include vp-1365 {
    min-height: 211px;
    gap: 10px;
  }

  @include vp-767 {
    align-items: center;
    padding: 40px 42px 28px;
    text-align: center;
    gap: 9px;
  }
}

.promo__block span {
  margin: 0;
  padding: 0;

  color: $btn-border;
  font-family: $ff-roboto;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; /* 100% */

  @include vp-1365 {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 100% */
  }

  @include vp-767 {
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px; /* 100% */
  }
}

.promo__block p {
  margin: 0;
  padding: 0;

  color: $btn-border;
  font-family: $ff-roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px; /* 150% */

  @include vp-767 {
    margin: 0 0 19px;

    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px; /* 157.143% */
  }
}

.promo__block a {
  margin: auto 0 0;
  padding: 0 0 10px 0;
  align-self: start;
  position: relative;
  transition: $trans-default;

  color: $btn-border;
  font-family: $ff-roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 14px; /* 100% */
  letter-spacing: 0.7px;
  text-transform: uppercase;

  @include vp-767 {
    align-self: center;
  }

  &::after {
    content: "";
    background-color: $btn-border;
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 5px;
    left: 0;
  }

  &:hover {
    color: $btn-border-opacity-80;

    &::after {
      opacity: 0.8;
    }
  }

  &:focus {
    outline: 1px solid $btn-border;
    outline-offset: 10px;

    &::after {
      content: none;
    }
  }

  &:active {
    color: $btn-border;

    &::after {
      content: "";
    }
  }

  &:disabled,
  &--disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}
