.subscription {
  position: relative;
  background-color: $bg-white-secondary;
}

.subscription__wrapper {
  padding: 127px 0 120px;
  z-index: 1;

  &::after {
    position: absolute;
    content: "";
    right: 0;
    bottom: -95px;
    width: 321px;
    height: 384px;
    background-repeat: no-repeat;
    background-position: right;
    z-index: 0;
    background-image: image-set(
      url("../img/plates-desktop.png") type("image/png"),
      url("../img/plates-desktop.webp") type("image/webp")
    );
  }

  @include retina {
    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      &::after {
        width: 287px;
        height: 384px;
        background-repeat: no-repeat;
        background-image: image-set(
          url("../img/plates-desktop@2x.png") type("image/png"),
          url("../img/plates-desktop@2x.webp") type("image/webp")
        );
        background-size: cover;
      }
    }
  }

  @include vp-1365 {
    padding: 100px 0 100px;

    &::after {
      width: 327px;
      height: 423px;
      bottom: -150px;
      background-image: image-set(
        url("../img/plates-tablet.png") type("image/png"),
        url("../img/plates-tablet.webp") type("image/webp")
      );
    }

    @include retina {
      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        &::after {
          width: 327px;
          height: 384px;
          bottom: -128px;
          background-repeat: no-repeat;
          background-image: image-set(
            url("../img/plates-tablet@2x.png") type("image/png"),
            url("../img/plates-tablet@2x.webp") type("image/webp")
          );
          background-size: cover;
        }
      }
    }
  }

  @include vp-767 {
    padding: 74px 0 70px;

    &::after {
      content: none;
      background: none;
    }

    @include retina {
      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        &::after {
          content: none;
          background: none;
        }
      }
    }
  }
}

.subscription__wrapper h2 {
  margin: 0 0 34px;
  padding: 0;

  color: $color-basic;
  font-family: $ff-alumni;
  font-size: 54px;
  font-style: normal;
  font-weight: 600;
  line-height: 54px; /* 100% */
  letter-spacing: 1.62px;
  text-align: center;

  @include vp-1365 {
    margin: 0 0 36px;

    font-size: 42px;
    font-style: normal;
    font-weight: 600;
    line-height: 42px; /* 100% */
    letter-spacing: 1.26px;
  }

  @include vp-767 {
    margin: 0 0 22px;

    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px; /* 100% */
    letter-spacing: 0.96px;
  }
}

.subscription__controls {
  position: relative;

  margin: 0 0 47px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 39px;

  &::after {
    position: absolute;
    content: "";
    bottom: -11px;
    left: 50%;
    width: 349px;
    height: 2px;
    background-color: $color-stroke-decoration;
    transform: translate(-50%, 0);
  }

  @include vp-1365 {
    margin: 0 0 56px;
    column-gap: 44px;

    &::after {
      bottom: -13px;
      width: 332px;
    }
  }

  @include vp-767 {
    margin: 0 0 51px;
    column-gap: 46px;

    &::after {
      width: 290px;
      bottom: -17px;
    }
  }
}

.subscription__control {
  position: relative;

  color: $color-basic-opacity-50;
  font-family: $ff-roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 100% */

  background-color: transparent;
  border: none;
  transition: $trans-default;

  @include vp-1365 {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 100% */
  }

  @include vp-767 {
    padding: 0;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 100% */
  }

  @include hover-focus {
    color: $color-basic;
    transition: $trans-default;
    outline: none;

    &::after {
      position: absolute;
      content: "";
      bottom: -11px;
      left: 7px;
      width: calc(100% - 12px);
      height: 2px;
      background-color: $bg-red;
    }

    @include vp-1365 {
      &::after {
        width: calc(100% - 11px);
        bottom: -13px;
      }
    }

    @include vp-767 {
      &::after {
        left: -2px;
        width: calc(100% + 2px);
        bottom: -17px;
      }
    }
  }

  @include active {
    color: $color-basic;
    transition: $trans-default;

    &::after {
      position: absolute;
      content: "";
      bottom: -11px;
      left: 7px;
      width: calc(100% - 12px);
      height: 2px;
      background-color: $btn-tab;
      transition: $trans-default;
    }

    @include vp-1365 {
      &::after {
        width: calc(100% - 11px);
        bottom: -13px;
      }
    }

    @include vp-767 {
      &::after {
        left: -2px;
        width: calc(100% + 2px);
        bottom: -17px;
      }
    }
  }

  &:disabled {
    color: $color-basic;
    opacity: 0.3;
    pointer-events: none;

    &::after {
      opacity: 0.3;
    }
  }
}

.subscription__control.is-active {
  color: $color-basic;
  transition: $trans-default;

  &::after {
    position: absolute;
    content: "";
    bottom: -11px;
    left: 7px;
    width: calc(100% - 12px);
    height: 2px;
    background-color: $btn-tab;
  }

  @include vp-1365 {
    &::after {
      width: calc(100% - 11px);
      bottom: -13px;
    }
  }

  @include vp-767 {
    &::after {
      left: -2px;
      width: calc(100% + 2px);
      bottom: -17px;
    }
  }
}

.subscription__content {
  display: flex;

  @include vp-1365 {
    flex-direction: column;
    align-items: center;
  }
}

.subscription__element {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;

  @include vp-1365 {
    flex-direction: column;
    gap: 39px;
  }

  @include vp-767 {
    gap: 35px;
  }
}

.subscription__element-wrapper {
  position: relative;

  padding: 67px 77px 65px;
  width: 360px;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: $color-white;
  z-index: 2;
  transition: $trans-default;

  &:hover {
    padding: 60px 70px 58px;
    border: 7px solid;
    border-image: $subscription-gradient;
    border-image-slice: 1;
  }

  @include vp-1365 {
    padding: 68px 117px 65px;
    width: 442px;

    &:hover,
    &:focus {
      padding: 61px 100px 58px;
      border: 7px solid;
      border-image: $subscription-gradient;
      border-image-slice: 1;
    }
  }

  @include vp-767 {
    padding: 52px 42px 50px;
    width: 100%;

    &:hover,
    &:focus {
      padding: 45px 35px 43px;
    }
  }
}

.subscription h3 {
  margin: 0 0 7px;

  color: $color-basic;
  text-align: center;
  font-family: $ff-roboto;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; /* 100% */

  @include vp-1365 {
    margin: 0 0 14px;

    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 100% */
  }

  @include vp-767 {
    margin: 0 0 14px;

    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px; /* 100% */
  }
}

.subscription__element-wrapper span {
  color: $color-basic;
  font-family: $ff-roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px; /* 150% */

  margin: 0 0 13px;
  display: block;

  @include vp-1365 {
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px; /* 150% */
  }

  @include vp-767 {
    margin-bottom: 32px;

    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px; /* 157.143% */
  }
}

.subscription__price-wrapper {
  position: relative;
  margin: 0 0 34px;
  display: flex;
  flex-direction: column;

  @include vp-1365 {
    margin: 0 0 24px;
  }

  @include vp-767 {
    margin: 0 0 23px;
  }
}

.subscription__price-wrapper span {
  position: relative;
  margin: 0;
  top: 0;
  left: 50%;
  width: auto;
  height: auto;
  transform: translate(-50%);
  z-index: -1;

  color: $color-shade;
  opacity: 0.48;
  font-family: $ff-roboto;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 150px */

  @include vp-1365 {
    margin: 6px 0 0;
  }

  @include vp-767 {
    margin: -13px 0 0;

    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 120px */
  }
}

.subscription__price-wrapper p {
  position: relative;
  margin: -95px 0 0;
  padding-right: 44px;
  text-align: center;
  z-index: 1;

  color: $color-additional-blue;
  font-family: $ff-roboto;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 90px */

  &::after {
    position: absolute;
    content: "₽";
    top: 2px;
    right: 20px;
    width: 30px;
    height: 42px;
    background-repeat: no-repeat;
    background-size: cover;
    color: $color-basic;

    font-family: $ff-rouble;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 90px */
  }

  @include vp-767 {
    margin: -76px 0 0;
    padding-right: 35px;

    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 72px */

    &::after {
      top: 3px;
      right: 16px;
      width: 24px;
      height: 33px;

      font-size: 48px;
    }
  }
}

.subscription__element-wrapper a {
  padding: 25px 24px;
  width: 205px;
  text-align: center;
  border: 2px solid $color-basic;
  transition: $trans-default;

  color: $color-basic;
  font-family: $ff-roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 12px; /* 100% */
  letter-spacing: 0.6px;
  text-transform: uppercase;

  @include vp-1365 {
    padding: 20px;
    font-weight: 400;
  }

  @include vp-767 {
    padding: 20px;
    font-weight: 700;
  }

  &:hover,
  &:focus {
    padding: 26px;
    color: $color-white;
    background: $btn-gradient;
    border: none;
    outline: none;
    transition: $trans-default;
  }

  &:active {
    background: $btn-gradient;
    color: $color-white-opacity-70;
  }

  &:disabled {
    background: $color-basic;
    opacity: 0.3;
    pointer-events: none;
  }
}
