// Colors
// ---------------------------------

$color-default-black: #000000;
$color-default-white: #ffffff;
$color-transparent: rgba(255, 255, 255, 0);

$color-basic: #102564;
$color-white: #ffffff;
$color-white-opacity: #ffffff80;
$color-additional-blue: #103aae;
$color-error: #ff121f;
$color-border-decoration: #74819C;;

$btn-basic: #102564;
$btn-white: #ffffff;
$btn-border: #1c3374;
$btn-tab: #d10a42;

$bg-white: #ffffff;
$bg-white-secondary: #f8f9fc;
$bg-basic: #102564;
$bg-red: #ed0233;
$bg-additional-black: #030a1a;


// Gradient

$text-gradient: linear-gradient(129deg, #d10a42 0%, #0041ca 100%);
$btn-gradient: linear-gradient(151deg, #ed0233 0%, #003eb7 100%);
$hero-gradient: conic-gradient(from 90deg at 16.03% 39.06%, #b80027, #003d85 62deg, #b80027 335deg);

// Typography
// ---------------------------------

// переменная используемая в html для подключения скейлинга
$fz-default: 16px;

// у некоторых шрифтов в ios возникают проблемы с символом рубля
// https://www.artlebedev.ru/kovodstvo/sections/159/#13

$ff-alumni: "Alumni Sans", "Arial", sans-serif;
$ff-roboto: "Roboto Condensed", "Arial", sans-serif;
$ff-rouble: "Rouble", "Arial", sans-serif;

// Animation
// ---------------------------------

$tf-default: ease;
$trans-default: 0.3s $tf-default;

// если требуется изинг отличный от $tf-default, то переменную называем не цифрой

$trans-modal: 0.6s cubic-bezier(0.55, 0, 0.1, 1);
$trans-600: 0.6s $tf-default;

// Viewports
// ---------------------------------

$vp-320: 320px;
$vp-768: 768px;
$vp-1200: 1200px;

// Retina
// ---------------------------------

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
